.Transfer{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 96%;
    max-width: 520px;
    margin: auto;
    border-radius: 7px;
    text-align: center;
    padding: 2em;
    box-sizing: border-box;
    margin-top: 2em;

    button{
        width: 100%;
    }
}