@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;400&display=swap");

* {
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
